body {
   font-family: "roboto",Arial,sans-serif;
   margin: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.header {
    padding-left: 200px;
    padding-right: 200px;
    background-color: #60c089;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 24px;
    color: black;
    font-weight: 600;
}

.header-image > img {
    height: 150px;
    width: 150px;
}

.header-links {
    display: flex;
    gap: 32px;
    font-size: 18px;
}

.header-link {
    color: black;
    list-style-type: none;
}

.hero {
    background-color: #60c089;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.card-hero-text {
    flex-wrap: wrap;
    max-width: 500px;
    color: black;
}

.card-hero-text-header {
    font-size: 48px;
    margin: 0;
}

.card-hero-subtext {
    font-size: 18px;
}

button {
    background-color: #ffde59;
    border-radius: 6px;
    border-color: #60c089;
    padding: 14px;
}

.card-hero-image {
    max-width: 500px;
}

.hero-logo {
    max-width: 300px;
    max-height: 300px;
}

/* INFO CARD SECTION */

/* .info-header {
    text-align: center;
}
.information {
    align-items: center;
}

.info-card > img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.info-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.info-card {
    flex: 1;
} */


.info-header {
    text-align: center;
    margin-bottom: 0;
}

.info-cards-container {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    gap: 25px;
}

.info-card {
    width: 200px;
    height: 275px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-card > p {
    margin-top: 0;
    align-self: flex-start;
}

.info-card > img {
    width: 200px;
    height: 200px;
}

/* QUOTE SECTION */

.quote-section {
    background-color: #ffde59;
    color: #60c089;
    margin: auto;
    padding: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-credit {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

/* CTA SECTION */

.CTA-container {
    background-color: #60c089;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.cta-text-box button {
    flex: 1;
}

.cta-text-box > H3 {
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.cta-text-box > p {
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

.cta-text-box {
    text-align: left;
}

/* FOOTER */

.footer {
    background-color: #60c089;
    text-align: center;
    margin-top: auto;
    padding: 25px;
}





