body {
   font-family: "roboto",Arial,sans-serif;
   margin: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.container {

}

.header {
    padding-left: 200px;
    padding-right: 200px;
    background-color: #60c089;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 24px;
    color: black;
    font-weight: 600;
}

.header-image > img {
    height: 150px;
    width: 150px;
}

.header-links {
    display: flex;
    gap: 32px;
}

.header-link {
    color: black;
    list-style-type: none;
}

.hero {
    background-color: #60c089;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.card-hero-text {
    flex-wrap: wrap;
    max-width: 500px;
    color: black;
}

.card-hero-text-header {
    font-size: 48px;
    margin: 0;
}

.card-hero-subtext {
    font-size: 18px;
}

button {
    background-color: #ffde59;
    border-radius: 6px;
    border-color: #60c089;
    padding: 8px;
}

.card-hero-image {
    max-width: 500px;
}

.hero-logo {
    max-width: 300px;
    max-height: 300px;
}

/* INFO CARD SECTION */

.info-header {
    text-align: center;
    margin-bottom: 0;
}

.info-cards-container {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 25px;
}

.info-card {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.info-card > p {
    margin-top: 0;
    align-self: flex-start;
}

.info-card > img {
    width: 300px;
    height: 200px;
}

/* QUOTE SECTION */

.quote-section {
    background-color: #ffde59;
    color: #60c089;
    margin: auto;
    padding: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-credit {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}