body {
   font-family: "roboto",Arial,sans-serif;
   margin: 0;
   min-height: 100vh;
}

.header {
    padding: 16px;
    background-color: #60c089;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header-links {
    display: flex;
    gap: 32px;
}

.header-link {
    color: #F9FAF8;
    list-style-type: none;
}